* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@font-face {
    font-family: logo;
    src: url(../../../public/fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: navbar;
    src: url(../../../public/fonts/LibreBaskerville-Regular.ttf);
}

.navArea {
    position: fixed;
    top: 45px;
    z-index: 2;

    .myNavbar {
        padding: 35px !important;
        background-color: #fff;

        .my-auto {
            font-family: navbar;
            font-size: 20px;
            gap: 15px;

            :hover {
                color: #FFB606 !important;
            }

        }


    }

    .logo {
        margin-right: 50px;
        display: flex;

        span {
            font-family: logo;
            text-transform: uppercase;
            margin-left: 10px;
            font-size: 28px;
            letter-spacing: 5px;
            font-weight: 800;
        }
    }

    .contact {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 116px;
        background-color: #FFB606;

        span {
            margin-left: 10px;
            font-size: 22px;
            font-weight: 500;
        }

    }

}